@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

html,body
{
  background-color: #F2F4F8;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px; /* equals 1em in the rest of doc*/
  color: #5A6A78;
  -webkit-font-smoothing: antialiased;
  line-height: 1em;
  margin: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  z-index: 200;
}

.popup {
  margin: 20% auto;
  padding: 20px;
  background: #09AE9E;
  color:#FFF;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.popup h4
{
  font-weight: 700;
  height: 2em;
  margin-top: 0;
  color:#FFF;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close
{
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.popup .close:hover {
  color: #333;
}
.popup .pop-content
{
  min-height: 3em;
  max-height: 30%;
  overflow: auto;
}

nav
{
  position: absolute;
  z-index: 11;
  width: 100%;
  background-color: #09AE9E;
  height:2.5em;
  color: #F2F4F8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

h2
{
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
  text-shadow: 0.1em 0.1em 2px rgba(0,0,0,0.16);

  text-align: left;
  vertical-align: middle;
  line-height: 2em;
}

.logo
{
  width: 60%;
}

.file-upload
{
  position: fixed;
  top:0;
  right: 0;
  z-index: 100;
}

#file
{
  display: none;
}

#file-choose-button
{
  background-color: #F2F4F8;
  color: #09AE9E;
  height: inherit;
  padding: 0 0.5em 0 0.5em;
  align-items: center;
  justify-content: center;
  display: flex;
}

#file-choose-button:hover
{
  background-color: #5A6A78;
  color: white;
}

nav div
{
  position: relative;
  float: left;
  height: inherit;
}

nav form
{
  height: inherit;
}

.custom-input {
    height: inherit;
    display: inline-block;
    width: 215px;
    padding: 0px 0 0px 15px;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 0px;
    outline: 0;
    text-indent: 70px;
    transition: all .3s ease-in-out;
}
.custom-input::-webkit-input-placeholder
{
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
/*
.custom-input + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7AB893;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}*/

.custom-input:focus,
.custom-input:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
}
.custom-input:focus::-webkit-input-placeholder,
.custom-input:active::-webkit-input-placeholder {
  color: #aaa;
}

input[type=file]
{
  background-color: black;
}

#submit
{
  width: 2.5em;
  background-color: #5A6A78;
  color: #FFF;
  align-items: center;
  justify-content: center;
  display: flex;
}

#submit:hover
{
  background-color: #FFF;
  color: #5A6A78;
}

#app-frame
{
  width: 100%;
  height: 100%;
}

.hide
{
  display: none;
  visibility: hidden;
}

.container
{
  /*padding: 1em;*/
}

.content
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
}

#container-top
{
  position: relative;
  z-index: 10;
  height: 40%;
  background-color: #222C31;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /* 1: box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.content-top
{
  position: relative;
  float: left;
  padding-top: 2.5em;
}

#container-top-col-left
{
  width: 25%;
  height: 80%;
  /*border-right: thin solid #09AE9E;*/
}

#media-player-album-cover-img
{
  margin: 1em;
  height: 80%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#container-top-col-right
{
  width: 75%;
  height: 80%;
}

#media-player-container
{
  height: 100%;
}

#media-player-info
{
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#media-player-info div
{
  font-size: 1.5rem;
  position: relative;
  float: left;
  padding: 1.5rem;
  text-shadow: 0.1em 0.1em 2px rgba(0,0,0,0.16);
}

#media-player-song-title
{
  font-weight: 500;
  color: #FFF;
}

#media-player
{
  margin-top: 4%;
  height: 25%;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#media-player-controls, #media-player-bar, #media-player-time,
#media-player-time-elapsed, #media-player-time-total, #time-slash,
#media-player-bar-progress
{
  height: 100%;
  position: relative;
  float: left;
}

#media-player-bar
{
  width: 50%;
  margin-left: 1em;
  align-items: center;
  justify-content: center; /**/
  display: flex;
  vertical-align: middle;
  line-height: 3.2em;
}

input[type='range']
{
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 1rem;
  background: rgba(black,0.5);
  height: 1px;
  width:100%;
  background-color: #09AE9E;
}

input[type='range']::-webkit-slider-thumb
{
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 1em;
  background: #09AE9E;
  height: 2em;
  width: 2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/*
#media-player-bar-line
{
  background-color: #09AE9E;
  width: 100%;
  height: 1px;
}*/

#media-player-time
{
  background-color: #F2F4F8;
  width: 15%;
  float: right;
}

#media-player-time p
{
  font-size: 0.8em;
  margin-left: 0.5em;
  /* AMAZING CODE TO CENTER VERTICAL*/
  align-items: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  line-height: 5em;
}

#media-player-controls
{
  background-color: #5A6A78; /*212121*/
  color: #FFF;
  width: 30%;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;

}

#media-player-controls li
{
  height: 100%;
  display: inline-block;
  width: 17%;
  vertical-align: middle;
  line-height: 5em;
}

#media-player-controls i
{
  font-size: 2em;
/* text-align: center;
  vertical-align: middle;
  line-height: 1.5em;*/
}


#media-player-controls li:hover
{
  /*background-color: #09AE9E;*/
  color:#09AE9E;
}

#media-player-controls li:focus, #media-player-controls li:active:focus
{
  outline: none;
}


/*
* BOTTOM SECTION
* List of Songs
*/

#container-bot
{
  position: relative;
  z-index: 1;
  height: 56%;
}

#container-bot-content
{
  padding-top: 1em;
  background-color: #FFFFFF;
  overflow: scroll;
}

#song-list li
{
  height: 4em;
  /* top, right, bottom, left*/
  padding: 0 4em 0 4em;
  border-bottom: thin solid #F2F4F8;
  border-top: thin solid #F2F4F8;
}

#song-list li:hover
{
  background-color: #09AE9E;
}

.current-song
{
  background-color: #5A6A78;
  color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#song-list li div
{
  position: relative;
  float: left;

  text-shadow: 0.05em 0.05em 1px rgba(0,0,0,0.16);
  text-align: left;
  vertical-align: middle;
  line-height: 4em;
}

.song-row-index
{
  width: 10%;
}

.song-row-title, .song-row-artist
{
  width: 40%;
}

.song-row-time
{
  width: 10%;
}
 /*--------------------------*/

@media only screen and (max-width: 700px)
{

  /* Small screen, non-retina */
  html,body
  {
    font-size: 14px; /* equals 1em in the rest of doc*/
    line-height: 1.5em;
  }

  .popup
  {width: 70%;}

  .content
  {
    width: 100%;
  }

  #submit
  {
    width: 4em;
  }

  #container-top
  {
    height: 20%;
  }

  #container-bot
  {
    height: 75%;
  }

 #container-top-col-right, #media-player-container
  {
    width: 100%;
    /*height: 90%;*/
  }

  #media-player
  {
    margin-top: 0;
    background-color: #5A6A78;
    height:50%;
    bottom: 0;
  }

  #media-player-song-title, #media-player-song-artist
  {
    width: 50%;
    padding: 0 0.2em 0 0.2em;
    white-space: nowrap;
    overflow:hidden;
  }

  #media-player-song-slash
  {
    display: none;
  }

  #media-player-controls
  {
    height: 10%;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  #media-player-bar
  {
      width: 75%;
      background-color: inherit;
  }
  #media-player-time
  {
      width: 20%;
      background-color: inherit;
      color: white;
  }

  input[type='range'], input[type='range']::-webkit-slider-thumb
  {
    background-color: white;
  }

  #container-bot-content
  {
    padding-top: 0px;
    height: 90%;
    padding-bottom: 1.5em;
  }

  #song-list li
  {
    width: 90%;
    padding-left: 2em;
    padding-right: 2em;
  }

  .song-row-artist, #media-player-album-cover-img, #container-top-col-left
  {
    display: none;
    visibility: hidden;
  }
  .song-row-title
  {
    width: 80%;
  }

}


/* smaller devices fix */
@media only screen and (max-width: 400px)
{
    body
    {
        /*font-size: 12px;*/
    }

    #media-player-song-title, #media-player-song-artist
    {
        font-size: 8px;
        width: 30%;
        padding: 0 0.2em 0 0.2em;
        white-space: nowrap;
        overflow:hidden;
    }

    #media-player
    {
        margin: 0;
        padding:0;
    }

    #media-player-bar, #media-player-time
    {
        padding:0;
        margin:0;
        height: 5vh;
    }

    .content-top
    {
        padding-top:0;
    }

    #media-player-info
    {
        padding-top: 1.5em;
    }

    #media-player-info div
    {
        padding-bottom:0.6em;
    }


    #media-player-time p
    {
        font-size: 0.8em;
        margin-left: 0.2em;
        padding-right: 0.2em;
        /* AMAZING CODE TO CENTER VERTICAL*/
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #containter-bot-content, #song-list li
    {
      width: 100vw;
      padding: 0px;
    }

    #song-list li div
    {
      padding-left: 1.5em;
    }

    .song-row-title
    {
      width: 70%;
    }

    .song-row-time
    {
      visibility: hidden;
      display: none;
    }

}


@media only screen and (min-width:700px) and (max-width: 1300px)
{

  /* Medium screen, non-retina */
  body
  {
    line-height: 1.5em;
  }
  .content
  {
    width: 100%;
  }

  #container-top, #container-bot
  {
    position: relative;
    float: left;
    height: 90%;
  }

  #container-top
  {
    width: 30%;
  }

  .content-top
  {
    position:sticky;
  }

  #container-top-col-left
  {
    width: 100%;
    height: 40%;
    /*border-right: thin solid #09AE9E;*/
  }

  #media-player-album-cover-img
  {
    margin: 1em 1em 1em 1em;

    height: auto;
    max-height: 90%;
    width: auto;
    max-width: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  #container-top-col-right
  {
    padding-top: 1em;
    width: 100%;
    height: 60%;
  }

  #media-player-info
  {
    height: 100%;
    display: block;
  }

  #media-player-song-slash
  {
    display: none;
  }

  #media-player-info div
  {
    position: static;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  #media-player
  {
    height: 10%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5A6A78;
  }

  #media-player-time
  {
    background-color: inherit;
    color: white;
  }

  #media-player-controls
  {
    background-color: #09AE9E;
  }

  #media-player-controls li:hover
  {
    /*background-color: #09AE9E;*/
    color:#222C31;
  }

  #container-bot
  {
    width: 70%;
    padding-top: 2.5em;
  }

  .song-row-artist
  {
    display: none;
    visibility: hidden;
  }

  .song-row-title
  {
    width: 80%;
  }

}
